
# User-specific files

# dependencies
/Backend/MoneyService/.vs
/Backend/MoneyService/WebApplication/bin
/Backend/MoneyService/WebApplication/obj
/Backend/MoneyService/WorkWithDatabase/bin
/Backend/MoneyService/WorkWithDatabase/obj
/Frontend/front-app/node_modules
/.pnp
.pnp.js


# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


*.suo
*.csproj
*.user
*.userosscache


# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

