.App {
  text-align: center;
}
html *
{
   font-family: "Gill Sans", sans-serif !important;
}

body{
  margin:0px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.error-message{
  color: #fd8034; 
  font-size: 12pt;
}

.center-block{
  text-align: center;
}

.small-button{
    width:70px;
    height:25px;
    margin-top:10px;
    border-radius:10px;
    background:#eee;
    border:1px solid #ddd;
    text-align:center;
}
.long-button{
  width:160px;
  height:25px;
  margin-top:10px;
  border-radius:10px;
  background:#eee;
  border:1px solid #ddd;
  text-align:center;
}

.block{
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
